.about_center {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-top: 4rem;
}
.about_center {
	width: 85%;
}

.about_center h2 {
	width: 30%;
	height: 17%;
	line-height: 2rem;
	font-weight: 300;
}
.about_center p {
	width: 90%;
}
@media screen and (max-width: 1182px) {
	.about_center {
		grid-template-columns: 1fr;
	}
	.about_image {
		margin: 1.5rem 0;
	}
}
@media screen and (max-width: 932px) {
	.vertical_nav,
	.search_catalog {
		display: none;
	}
	main {
		justify-content: center;
		align-items: center;
	}
}
