.welcome_center {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-top: 4rem;
}
.welcome_center {
	width: 85%;
}

.welcome_center h2 {
	width: 30%;
	height: 17%;
	line-height: 2rem;
	font-weight: 300;
}
.welcome_center p {
	width: 90%;
}
@media screen and (max-width: 1400px) {
	main {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.welcome_center {
		grid-template-columns: 1fr;
	}
	.vertical_nav,
	.search_catalog {
		display: none;
	}
	.welcome_center h2 {
		width: 100%;
	}
}
